{% extends "PhoneReview/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Enter New Password - PhoneRadar{% endblock %}

{% if validlink %}

{% block heading %}Set a new password!{% endblock %}
{% block content %}
<p>Please enter (and confirm) your new password.</p>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Change my password">
</form>
{% endblock %}

{% else %}

{% block heading %}Password reset failed{% endblock %}
{% block content %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>
{% endblock %}

{% endif %}