{% extends 'PhoneReview/base.html' %}

{% block title %}PhoneRadar{% endblock %}

{% block heading %}All Brands{% endblock %}

{% block content %}
{% if all_brands %}

<div class="row g-2">
  {% for brand in all_brands %}
  <div class="col-6 col-sm-4 col-md-3 col-lg-2">
    <div class="card brand-card">
      <div class="ratio ratio-1x1">
        <img src="{{ MEDIA_URL }}{{ brand.image }}" class="card-img-top p-4" alt="{{ brand.name }} logo">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ brand.name }}</h5>
        <a href="{{ brand.get_absolute_url }}" class="stretched-link"></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% else %}

<p>No brands to display...</p>

{% endif %}
{% endblock %}